#main_container_inside_second_div {
    border: 1px dotted #6d6c69;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    margin-top: 40px;
    height: 20%;
}
#second {
    border: 2px solid gray;
    border: 1px solid #cfd8dc;
    width: 30%;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
    height: 30%;
}
#cardOne {
    border: 1px solid #cfd8dc;
    width: 60%;
    margin-top: 40px;
}

.ship_to_this_add_btn {
    border: 0px solid #09a6ea;
    background-color: rgb(75, 86, 102);
    font-weight: bold;
    height: 50px;

    width: 90%;
    display: block;
    /* padding: 20px 25px; */
    color: white;

    word-spacing: 0px;
    margin: 20px auto;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ship_to_this_add_btn:hover {
    background-color: white;
    color: #17274a;
    border: 1px solid #17274a;
}

/* <-------------------------Shipping Address css-------------------------> */
#address {
    width: 30%;
    margin: 20px auto;
    /* padding: 20px; */
    border: 2px solid red;
}
#method {
    border: 2px solid rgb(101, 229, 16);
    width: 60%;
    height: auto;
    margin-left: 50px;
    margin: 20px auto;
    border-radius: 15px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#container {
    border: 0px solid rgb(106, 105, 105);
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.single_card_address {
    border: 0px solid gray;

    padding: 25px;
    margin: 20px auto;
}

#container {
    border: 0px solid green;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.continue_to_payment_btn {
    border: 1px solid #cfd8dc;
    background-color: rgb(75, 86, 102);
    font-weight: bold;
    height: 45px;
    width: 95%;
    display: block;
    /* padding: 20px 25px; */
    color: white;

    word-spacing: 0px;
    margin: 20px auto;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.continue_to_payment_btn:hover {
    background-color: white;
    color: #17274a;
    border: 1px solid #17274a;
}

/* ******************* */
#main_div {
    border: 1px solid rgb(97, 95, 95);
    /* height: 1200px; */
    /* display: flex; */
    width: 90%;
    margin: 20px auto;
    justify-content: space-around;
    border-radius: 15px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
#first_div {
    border: 0px solid rgb(215, 198, 15);
    width: 70%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 15px;
}

.buttonpay:hover {
    background-color: #9b96f3;
}

#otp {
    border: 0px solid rgb(207, 30, 210);
    margin-right: 1px;
    margin-top: 20px;
    width: 90%;
    padding: 5px;
}
#name {
    border: 0px solid black;
    width: 90%;
    padding: 5px;
}
#date {
    border: 1px solid green;
    margin-right: 0px;
    margin-top: 40px;
    width: 90%;
    padding: 5px;
}

#check {
    border: 1px solid black;
    align-items: left;
    width: 85%;
    margin: 20px auto;
}

#container {
    border: 0px solid rgb(237, 237, 19);
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
#address {
    width: 30%;
    margin: 20px auto;
    border: 0px solid red;
    /* padding: 20px; */
}
#method {
    border: 0px solid rgb(147, 150, 145);
    width: 60%;
    height: auto;
    margin-left: 50px;
    margin: 20px auto;
    border-radius: 15px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single_card_address {
    /* border: 2px solid transparent;
     */
    border: 0px solid red;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 20px;
    margin: 20px auto;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}
.single_card_address:hover {
    border: 2px solid #17274a;
    transform: scale(1.01);
}

.bookbtn3 {
    background-color: #17274a;
    border: 2px solid transparent;

    /* height: 60px; */
    width: 40%;
    display: block;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    /* margin: 40px auto; */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bookbtn3:hover {
    background-color: white;
    color: #17274a;
    border: 2px solid #17274a;
    border-radius: 15px;
}
#vs_stack1 {
    width: 35%;
    margin: 20px auto;
    padding-bottom: 40px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#deleteButton {
    width: 100px;
    padding: 5px 8px;
    background-color: orange;
    border-radius: 8px;
}
#heading {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
#tab {
    padding-right: 10px;
    border: 0px solid red;
}
#tablist {
    display: flex;
    justify-content: space-around;
    border: 0px solid red;
}
#tabfirst {
    margin: 30px auto;
    padding: 10px;

    background-color: #e8eaf6;
    width: 25%;
}
#tabfirst :hover {
    border: 0px solid green;
    color: black;

    border-radius: 5px;
}

#main_container {
    border: 1px dotted rgba(255, 255, 0, 0.056);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
}

#vstack {
    border: 0px solid rgb(0, 255, 13);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;
}
#firstname {
    border: 0px solid green;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#input {
    /* border: 1px solid rgb(255, 0, 170); */
    border: 1px solid gray;
    height: 40px;
    width: 100%;
    padding: 10px;
    gap: 20px;
}
#country {
    border: 0px solid blue;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
#address1 {
    border: 0px solid blue;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
#city {
    border: 0px solid rgb(0, 255, 174);
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#last_div {
    border: 0px solid blue;
    width: 100%;
}

/* <---------for laptop View--------> */
@media screen and (max-width: 1400px) {
    #container {
        border: 1px dotted gray;
        display: flex;
        padding: 20px;
        font-size: 20px;
    }
    #address {
        width: 100%;
        margin: 10px auto;
        border: 0px solid red;
        padding: 10px;
    }
    #method {
        border: 0px solid rgb(102, 225, 20);
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 15px;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .bookbtn2 {
        width: 80%;
    }

    #main {
        border: 0px solid rgb(185, 96, 96);
        /* height: 1200px; */
        display: flex;
        width: 90%;
        margin: 20px auto;
    }

    #firstname {
        border: 0px solid green;
        width: 100%;
        display: flex;
        padding: 20px;
        gap: 10px;
        margin-bottom: 20px;
    }

    #input {
        border: 2px solid gray;
        height: 40px;
        width: 100%;
        gap: 10px;
        border-radius: 10px;
    }
    #country {
        border: 0px solid blue;
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }
    #address1 {
        border: 0px solid blue;
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }
    #city {
        border: 0px solid rgb(0, 255, 174);
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }
    #last_div {
        border: 0px solid blue;
        padding: 10px;
    }
    #last_div input {
        border: 2px solid gray;
        border-radius: 5px;
        width: 100%;
    }
    #last_div div {
        border: 0px solid red;
        width: 95%;
    }
    #two {
        border: 1px solid gray;
        width: 70%;
        margin: 20px auto;
        padding: 20px;

        font-size: 20px;
        font-weight: bold;
    }
    .fourth {
        border: 1px solid gray;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }

    #third {
        border: 1px solid gray;
        height: auto;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    #review_order button {
        border: 0px solid green;
        width: 90%;
    }
}
/* <---------for Tab View--------> */
@media all and (min-width: 768px) and (max-width: 1024px) {
    #container {
        border: 1px dotted gray;
        display: block;
        padding: 20px;
        font-size: 20px;
    }
    #main_div {
        border: 0px solid rgb(185, 96, 170);
        /* height: 1200px; */
        display: block;
        width: 90%;
        margin: 20px auto;

        border-radius: 15px;
        /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    }
    #main_container_inside_second_div {
        border: 0px solid #cbae0d;
        width: 90%;
        margin: 20px auto;
        padding: 20px;
    }
    #first_div {
        border: 0px solid rgb(215, 198, 15);
        width: 90%;
        margin: auto;
        padding: 20px;
    }
    #address {
        width: 100%;
        margin: 10px auto;
        border: 0px solid red;
        padding: 10px;
    }
    #method {
        border: 0px solid rgb(102, 225, 20);
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 15px;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .bookbtn2 {
        width: 80%;
        border: 5px solid rgb(102, 225, 20);
    }

    #main {
        border: 0px solid rgb(185, 96, 96);
        /* height: 1200px; */
        display: block;
        width: 90%;
        margin: 20px auto;
    }

    #firstname {
        border: 0px solid green;
        width: 100%;
        display: block;
        padding: 20px;
        gap: 10px;
        margin-bottom: 20px;
    }

    #input {
        border: 2px solid gray;
        height: 40px;
        width: 100%;
        gap: 10px;
        border-radius: 10px;
    }
    #country {
        border: 0px solid blue;
        width: 100%;
        display: block;
        gap: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }
    #address1 {
        border: 0px solid blue;
        width: 100%;
        display: block;
        padding: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }
    #city {
        border: 0px solid rgb(0, 255, 174);
        width: 100%;
        display: block;
        padding: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }
    #last_div {
        border: 0px solid blue;
        padding: 10px;
    }
    #last_div input {
        border: 2px solid gray;
        border-radius: 5px;
        width: 100%;
    }
    #last_div div {
        border: 0px solid red;
        width: 95%;
    }
    #two {
        border: 1px solid gray;
        width: 70%;
        margin: 20px auto;
        padding: 20px;

        font-size: 20px;
        font-weight: bold;
    }
    .fourth {
        border: 1px solid gray;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }
    #second {
    border: 2px solid gray;
    border: 1px solid #cfd8dc;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    margin-top: 40px;
    height: 30%;
}

    #third {
        border: 1px solid gray;
        height: auto;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    #review_order button {
        border: 0px solid green;
        width: 90%;
    }
    .ship_to_this_add_btn {
        border: 0px solid #09a6ea;
        background-color: rgb(75, 86, 102);
        width: 80%;
        height: 50px;
        margin: 40px auto;
        font-size: 15px;


        /* padding: 20px 25px; */
        color: white;

        word-spacing: 0px;
        margin: 20px auto;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    #cardOne {
    border: 1px solid #cfd8dc;
    width: 100%;

    margin-top: 40px;
}
    .single_card_address {
        border: 0px solid red;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 95%;
        padding: 15px 20px;
        margin: 20px auto;
        border-radius: 15px;
        transition: all 0.2s ease-in-out;
    }
}
/* <---------for Mobile View--------> */
@media all and (min-width: 300px) and (max-width: 767px) {
    #container {
        border: 1px dotted gray;
        display: block;
        padding: 20px;
        font-size: 20px;
    }
    #main_div {
        border: 0px solid rgb(185, 96, 170);

        display: block;
        width: 90%;
        margin: 20px auto;

        border-radius: 15px;
    }
    #main_container_inside_second_div {
        border: 0px solid #cbae0d;
        width: 90%;
        margin: 20px auto;
        padding: 20px;
    }
    #first_div {
        border: 0px solid rgb(215, 198, 15);
        width: 90%;
        margin: auto;
        padding: 20px;
    }
    #address {
        width: 100%;
        margin: 10px auto;
        border: 0px solid red;
        padding: 10px;
    }
    #method {
        border: 0px solid rgb(102, 225, 20);
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 15px;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    #main {
        border: 0px solid rgb(185, 96, 96);
        /* height: 1200px; */
        display: block;
        width: 90%;
        margin: 20px auto;
    }

    #firstname {
        border: 0px solid green;
        width: 100%;
        display: block;
        padding: 20px;
        gap: 10px;
        margin-bottom: 20px;
    }

    #input {
        border: 2px solid gray;
        height: 40px;
        width: 100%;
        gap: 10px;
        padding: 0px 10px;
        border-radius: 10px;
    }
    #country {
        border: 0px solid blue;
        width: 100%;
        display: block;
        gap: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }
    #address1 {
        border: 0px solid blue;
        width: 100%;
        display: block;
        padding: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }
    #city {
        border: 0px solid rgb(0, 255, 174);
        width: 100%;
        display: block;
        padding: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }
    #last_div {
        border: 0px solid blue;
        padding: 10px;
    }
    #last_div input {
        border: 2px solid gray;
        border-radius: 5px;
        width: 100%;
    }
    #last_div div {
        border: 0px solid red;
        width: 95%;
    }
    #two {
        border: 1px solid gray;
        width: 70%;
        margin: 20px auto;
        padding: 20px;

        font-size: 20px;
        font-weight: bold;
    }
    .fourth {
        border: 1px solid gray;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }

    #third {
        border: 1px solid gray;
        height: auto;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .single_card_address {
        /* border: 2px solid transparent;
     */
        border: 0px solid red;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 95%;
        padding: 15px 20px;
        margin: 20px auto;
        border-radius: 15px;
        transition: all 0.2s ease-in-out;
    }
    #cardOne {
        border: 1px solid #cfd8dc;
        width: 100%;
        margin-top: 40px;
    }
    #review_order button {
        border: 0px solid green;
        width: 90%;
    }
    .ship_to_this_add_btn {
        border: 0px solid yellow;
        width: 100%;
        margin: 40px auto;
        font-size: 15px;
        font-weight: bold;
    }
    #second {
        border: 2px solid gray;
        border: 1px solid #cfd8dc;
        width: 100%;
        margin: 0px;
        margin-top: 40px;
        height: 30%;
    }
}
