
.container{
    display: flex;   
    border: 1px solid black;
    padding: 10px;  
    width: 96%; 
    margin: auto; 
}

.container>div:nth-child(1){
    flex: 2;
    border: 1px solid rgb(255, 0, 0);

}

.container>div:nth-child(2){
    border: 1px solid rgb(0, 42, 255);
    flex: 7;
}


