.cartpage-lr {
  display: flex;
}
.cartpage-container {
  width: 90%;
  margin: 20px auto;
}

.cartpage-left-cont {
  flex: 2;
  padding: 20px ;
  /* background-color: aqua; */
  /* border: 1px solid black; */
}
.cartpage-right-cont {
  flex: 1;
  padding: 10px;
  /* background-color: aquamarine; */
  /* border: 1px solid black; */
}
.cartpage-left-title {
  display: flex;
  /* border: 1px solid red; */
  /* padding: 20px; */
}
.cartpage-left-title > div {
  padding: 10px;
  font-size: 13px;
  line-height: 16.9px;
  font-weight: 400;
  color: #26262c;
}
.cartpage-left-title > div:nth-child(1) {
  flex: 2;
  /* border: 1px solid red; */
  text-align: center;
}
.cartpage-left-title > div:nth-child(2) {
  flex: 1;
  /* border: 1px solid red; */
  text-align: center;
}
.cartpage-left-title > div:nth-child(3) {
  flex: 1;
  /* border: 1px solid red; */
  text-align: center;
}
.cartpage-left-title > div:nth-child(4) {
  flex: 1;
  /* border: 1px solid red; */
  text-align: center;
}
.cartpage-left-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartpage-left-heading > h3 {
  color: #26262c;
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 400;
}
.cartpage-right-container {
  border: 1px solid grey;
}
.cartpage-right-top > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.cartpage-right-container {
  /* background-color: aquamarine; */
  width: 100%;
  margin: auto;
  padding: 20px;
}
.cartpage-right-container > span > button {
  padding: 16px 60px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #3b475b;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  /* border: 1px solid black; */
}

.cartpage-right-container > span > button:hover {
  background-color: white;
  color: #17274a;
  border: 1px solid #17274a;
}
.cartpage-right-top > div {
  color: #5c5c5f;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  text-decoration: rgb(92, 92, 95);
}
.cartpage-right-top {
  margin-bottom: 20px;
}
.cartpage-right-container > div:nth-child(2) {
}
.cartpage-right-container > div:nth-child(2) > div:nth-child(1) {
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  color: #5c5c5f;
}

.cartpage-right-container > div:nth-child(2) > div:nth-child(2) {
  font-size: 11px;
  line-height: 17.6px;
  font-weight: 400;
  color: #000000;
}
.cartpage-right-container > div {
  margin-bottom: 20px;
}
.paypal-btn > button > img {
  width: 100px;
}
.paypal-btn > button {
  /* padding: 16px 20px; */
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  justify-content: center;

  background-color: white;
  color: black;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  border: 1px solid black;
}
.cartpage-right-heading > span:nth-child(1) {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;

  padding: 20px;
  color: #26262c;
  padding-left: 0;
}
.cartpage-right-heading > span:nth-child(2) {
  font-size: 14px;
  line-height: 23.4px;
  font-weight: 400;

  padding: 20px 0px;
  color: blue;
  padding-left: 0;
  text-decoration: underline;
}
.cartpage-right-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  margin: auto;
}

@media all and (min-width: 300px) and (max-width:767px) {
  .cartpage-lr {
    display: grid;
  }


  .cartpage-left-cont{
    width: 96%;
    margin: auto;
  }

  .cartpage-right-cont{
    width: 96%;
    margin: auto;
  }

.cartpage-right-heading {
  width: 96%;
}

.cartpage-right-container{
  margin: auto;
  width: 100%;
}

 .proced-btn{
  border: 0px solid red;

  width: 95%;
  margin: auto;
  font-size: 10px;
  right: 0;
  left: 0;
}
.cartpage-right-container > span > button {
  padding: 16px 60px;
  margin: auto;
  text-align: center;
  font-weight: 500;
font-size: 12px;
  width: 100%;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #3b475b;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  /* border: 1px solid black; */
}

}
